.productsrc {
    padding: 5px 0;
    width: 400px;
    height: 30px;
    margin-top: 0px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .productsrc input {
        position: absolute;
        width: 200px;
        margin-left: 200px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .productsrc:hover input, .productsrc input:focus {
            width: 400px;
            margin-left: 0px;
        }

.srcbtn {
    height: 30px;
    position: absolute;
    margin-right: 0;
    matgin-top: 0;
    right: 0;
    top: 5px;
    border-radius:1px;
}
